<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css" rel="stylesheet">
</head>

<body>
    <div id="suggestions">
        <header>
            <button class="nav" v-for="(btn, i) in btns" :key="i" @click="btn.func()">
                {{btn.innerText}}
            </button>
        </header>
        <main>
            <section>
                <table>
                    <thead>
                        <tr>

                            <th>State</th>
                            <th>Suggetion</th>
                            <th>Suggestor</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(suggest, i) in suggestions" :key="i">
                            <td>{{suggest.state}}</td>
                            <td>{{suggest.newRegion}}</td>
                            <td>{{suggest.user}}</td>
                            <td>
                                <div style="display: flex; justify-content: space-around;;">
                                    <div>

                                        <span style="font-size: 3em; color: #1b9e77;" class="fas fa-thumbs-up">
                                        </span>
                                    </div>
                                    <div>

                                        <span style="font-size: 3em; color: #d95f02;" class='fas fa-thumbs-down'>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </section>
        </main>
    </div>
</body>
<script src="../assets/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#suggestions',
        data: {
            suggestions: [],
            btns: [{
                innerText: 'Home',
                func() {
                    window.location.href = '/'
                }
            }, {
                innerText: 'logout',
                func() {
                    document.cookie = "jwt=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    window.location.href = '/'
                }
            }]
        },

        methods: {},
        created() {
            axios({
                    url: 'http://localhost:3000/suggestions',
                    method: "GET"
                })
                .then(response => {
                    this.suggestions = response.data
                })
                .catch(err => console.log('err', err))

            if (!document.cookie) {
                window.location.href = '/'
            }
        }
    })
</script>
<link rel="stylesheet" href="../assets/styles.css">
<style>
    main {
        overflow-y: scroll;
    }

    table {
        width: 60%;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    th,
    td {
        padding: 10px;
    }
</style>