<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css" rel="stylesheet">
</head>

<body>
    <div id="suggestions">
        <header>
            <button class="nav" v-for="(btn, i) in btns" :key="i" @click="btn.func()">
                {{btn.innerText}}
            </button>
        </header>
        <main>
            <section>
                <table>
                    <thead>
                        <tr>

                            <th>State</th>
                            <th>Suggetion</th>
                            <th>Suggestor</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(suggest, i) in suggestions" :key="i">
                            <td>{{suggest.state}}</td>
                            <td>{{suggest.newRegion}}</td>
                            <td>{{suggest.user}}</td>
                            <td>
                                <div style="display: flex; justify-content: space-around;;">
                                    <div>
                                        <span style="font-size: 3em; color: #1b9e77;" class="fas fa-thumbs-up"
                                            @click="putSuggestion(suggest, 'approve')">
                                        </span>
                                    </div>
                                    <div>

                                        <span style="font-size: 3em; color: #d95f02;" class='fas fa-thumbs-down'
                                            @click="putSuggestion(suggest, 'decline')">
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </section>
        </main>
    </div>
</body>
<script src="../assets/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#suggestions',
        data: {
            suggestions: [],
            btns: [{
                innerText: 'Home',
                func() {
                    window.location.href = '/'
                }
            }, {
                innerText: 'logout',
                func() {
                    document.cookie = "jwt=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    window.location.href = '/'
                }
            }]
        },

        methods: {
            putSuggestion(data, action) {
                axios({
                        url: "http://localhost:3000/suggestion",
                        method: "PUT",
                        data: {
                            state: data.state,
                            newRegion: data.newRegion,
                            user: data.user,
                            action: action
                        },
                        headers: {
                            'Authorization': this.getCookie('jwt')
                        }
                    })
                    .then(response => {
                        this.suggestions = response.data;
                    })
                    .catch(err => console.log(err))
            },
            getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
        },
        created() {
            axios({
                    url: 'http://localhost:3000/suggestions',
                    method: "GET"
                })
                .then(response => {
                    this.suggestions = response.data
                })
                .catch(err => console.log('err', err))

            if (!document.cookie) {
                window.location.href = '/'
            }
        }
    })
</script>
<link rel="stylesheet" href="../assets/styles.css">
<style>
    main {
        overflow-y: scroll;
    }

    table {
        width: 60%;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    th,
    td {
        padding: 10px;
    }
</style>